/*
  TimeCaT 4.0 ~ Core CSS.
  by Marcelo A. Lopetegui, M.D.
  chelop.duh@gmail.com
*/
*{
margin:0;
padding:0;
} 
html, body {
height: 100%;

}

.regordoon{
border: 4px solid #e5f2fb;
}
.regordooff{
border: 3px #ead7d3 solid;
}
.suaveoff{
background: #ead7d3;
}
.minpad{
padding: 4px;
}
.nomarg{
margin: 2px 2px 0px 2px;
}

/*general font settings*/
.bluerer h5, .bluerer h3, .bluerer h4{
color: #fff;
margin: 0px;
}
.eliseo{
-o-text-overflow: ellipsis;   /* Opera */
text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
overflow:hidden;              /* don't show excess chars */
white-space:nowrap;           /* force single line */
}
.sear{
font-size: 12px;
}

/* topmenu stuff*/
.mainlogo{
color: #FFFFFF;
height: 110px;
border: 0px;
padding: 0px;
background-image: url('../img/gatologo.png');
background-position: left bottom;
background-repeat: no-repeat;
}
.mainlogo h1{
line-height: 40px;
margin: 0px;
padding: 25px 0px 0px 105px;
color: #FFF;
font-size: 60px;
}
.mainlogo p{
line-height: 40px;
margin: 0px;
padding: 0px 0px 0px 200px;
font-weight: bold;
}
.signupbut {
line-height: 110px;
}
.vnam{
font-weight: bold;
font-size: 14px;
border-bottom: 1px gray solid;
}
#gato {
background-image:url('../img/gatologo2.png');
background-position:left bottom;
background-repeat:no-repeat;
}
#gato h1{
padding-left: 40px;
}
.top-bar{
margin-bottom: 0px;
}
#cabecera{
max-height: 45px;
width: 100%;
clear: both;
overflow: hidden;
}
#avatarer img{
height: 45px;
}
#titler p{
color:#FFF;
font-size: 14px;
line-height: 19px;
padding-top: 4px;
margin-left: 5px;
}

.utitler {
font-size: 12px;
}
#titler {
width: 60%;
}
/*Main block stuff*/
.studyblock{
font-size: 14px;
margin-bottom: 20px;
}
.firstinfo{
border-bottom: 1px solid #F5F5F5;
}
.studydesc{
margin:0px;
padding: 0px 10px 0px 10px;
}
.studyname{
font-size: 16px;
font-weight: bold;
padding: 5px 10px;
margin-bottom: 5px;
}
.lastinfo{
background: #2f2f2f;
color: #FFF;
-webkit-border-radius: 0px 0px 0px 10px;
border-radius: 0px 0px 0px 10px;
}
.lastinfo p, .firstinfo p {
padding: 0px 5px;
margin: 0px;
}
.entrar {
margin-bottom: 6px;
}
.margibotom{
padding: 6px 0px;
}
.profiler p{
font-size: 14px;
margin: 0px;
}
.elogin{
border: 1px solid #F5F5F5;
margin-top: 40px;
padding-top: 20px;
}

.inputers{
padding-top: 10px;
margin-top: 15px;
margin-bottom: 5px;
line-height: 30px;
border: 2px solid #B7DDF2;
}
.regordo{
border: 4px solid #B7DDF2;
}
.aparece{
display: none;
}
.minalto{
height: 130px;
background: #ffffff;
border: 1px solid #ddd;
outline: none;
padding: 5px;
resize: none;
}

input[type=radio], input.radio { 
 float:left;
 clear:none; 
 margin: 2px 0 0 2px; 
}
.radlabel { 
 float:left; 
 clear:none; 
 display:block; 

}
/* Main Colors for the Theme */
.celeste{
background: #e5f2fb;
}
.bluerer {
background: rgb(22,64,112)!important; /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(22,64,112,1) 0%, rgba(29,100,159,1) 34%, rgba(23,89,147,1) 70%, rgba(23,114,183,1) 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(22,64,112,1)), color-stop(34%,rgba(29,100,159,1)), color-stop(70%,rgba(23,89,147,1)), color-stop(100%,rgba(23,114,183,1)))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(22,64,112,1) 0%,rgba(29,100,159,1) 34%,rgba(23,89,147,1) 70%,rgba(23,114,183,1) 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(22,64,112,1) 0%,rgba(29,100,159,1) 34%,rgba(23,89,147,1) 70%,rgba(23,114,183,1) 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(22,64,112,1) 0%,rgba(29,100,159,1) 34%,rgba(23,89,147,1) 70%,rgba(23,114,183,1) 100%)!important; /* IE10+ */
background: linear-gradient(45deg,  rgba(22,64,112,1) 0%,rgba(29,100,159,1) 34%,rgba(23,89,147,1) 70%,rgba(23,114,183,1) 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#164070', endColorstr='#1772b7',GradientType=1 )!important; /* IE6-9 fallback on horizontal gradient */
}

.blangradient{
background: rgb(242,246,248); /* Old browsers */
background-image: url("../img/circuit.png"); /* fallback */
background-image: url("../img/circuit.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(21%,rgba(230,239,244,1)), color-stop(88%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background-image: url("../img/circuit.png"), -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(230,239,244,1) 21%,rgba(255,255,255,1) 88%); /* Chrome10+,Safari5.1+ */
background-image: url("../img/circuit.png"), -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(230,239,244,1) 21%, rgba(255,255,255,1) 88%); /* FF3.6+ */
background-image: url("../img/circuit.png"),  -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(230,239,244,1) 21%,rgba(255,255,255,1) 88%); /* IE10+ */
background-image: url("../img/circuit.png"), -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(230,239,244,1) 21%,rgba(255,255,255,1) 88%); /* Opera 11.10+ */
background-image: url("../img/circuit.png"), linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(230,239,244,1) 21%,rgba(255,255,255,1) 88%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.grisos{
background: #F5F5F5;
}

.blanko {
background: rgba(255, 255, 255, 0.7)!important;
}

.plomito{
background: #EBF0F2!important;
}
.masgris{
background: #2f2f2f!important;
}
.bazul1{
background: #3366cc;
}
.brojo{
background: #dc3912;
}
.bverde{
background: #8cbe29;
}
.bnaranjo{
background: #ff9900;
}
.bmorado{
background: #990099;
}
.bnaranjo2{
background: #e67300;
}
.bceleste{
background: #0099c6;
}
.bburdeo{
background: #b82e2e;
}
.bverdon{
background: #66aa00;
}
/*Footer Stuff*/
.wexner {
background: #2f2f2f url("../img/wexner.jpg") no-repeat left center; 
height: 80px;
}
.footwhite{
font-size: 14px;
text-align: right;
color: #FFF!important;
}
#adminprivileges{
display: none;
}
.nopadd{
padding: 0px;
}
/*fixed bottom css*/
#wrap {
min-height: 100%;
width: 100%;
}
#main {
overflow:auto;
padding-bottom: 80px;
width: 100%;
}
#footer {
background: #2f2f2f;
position: relative;
margin-top: -80px;
height: 80px;
clear:both;
} 
.limpia{
clear:both;
}
.elfoot{
max-height: 80px;
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
textarea {
resize: none;
}
.almedio{
margin: 0 auto;
}
.top-bar-section ul{
background-color:transparent!important;
}
.top-bar .name h1 a {
width: auto!important;
}
.sinmenu{
margin-right: 90px!important;
}

/*Big colored buttons*/
.clptabs{
-webkit-border-radius: 25px;
border-radius: 25px;
text-align: center;
}

.marabajo{
margin-bottom: 40px;
}
.elicon{
height: 90%;
}

.subtile{
font-weight: bold;
color:#FFF;
padding-top: 10px;
padding-bottom: 0px;
margin-bottom: 5px;
}

.clptabs:hover, .regordooff:hover, .regordoon:hover{
-webkit-box-shadow:  1px 1px 1px 1px #777;
box-shadow:  1px 1px 1px 1px #777;
}
/*end big colored buttons*/