/*
  TimeCaT 4.0 ~ Color Pallette for visualizations CSS.
  by Marcelo A. Lopetegui, M.D.
  chelop.duh@gmail.com
*/

.tc1{
background: #3366cc;
}
.tc2{
background: #dc3912;
}
.tc3{
background: #8cbe29;
}
.tc4{
background: #ff9900;
}
.tc5{
background: #990099;
}
.tc6{
background: #e67300;
}
.tc7{
background: #0099c6;
}
.tc8{
background: #b82e2e;
}
.tc9{
background: #66aa00;
}
.tc10{
background: #e5f2fb;
}
.tc11{
background: #e9ea71;
}
.tc12{
background: #98e36e;
}
.tc13{
background: #5bc5d0;
}
.tc14{
background: #f76372;
}
.tc15{
background: #f6b274;
}
.tc16{
background: #d16f18;
}
.tc17{
background: #fcbbc1;
}
.tc18{
background: #21c9a5;
}
.tc19{
background: #0ebafa;
}
.tc20{
background: #cadef7;
}
.tc21{
background: #4c5d5d;
}
.tc22{
background: #ab4135;
}
.tc23{
background: #ab4135;
}
.tc24{
background: #738649;
}
.tc25{
background: #46483f;
}












