/* 
    Document   : tc_help
    Created on : Aug 11, 2013, 10:43:40 PM
    Author     : Tremayne
    Description:
        Purpose of the stylesheet follows.
*/
body {
	height:100%;
}
a {
	cursor:pointer;
}
.tc-logo-help {
	height:43px;
	width:60px;
}
.back-to-timecat-btn {
	padding:9px;
	font-size:1.5em;
}
.navbar-inner {
	height:80px;
	background-color:#195085;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}
.navbar .nav{
	padding-top:5px;
	padding-bottom:0px;
}
.navbar .nav > li > a {
	text-shadow: none;
	color:  #fff;
	font-weight:bold;
}
.navbar .nav > li > img {
	height:30px;
	width:40px;
}
.help-center-label {
	color:#006699;
	padding-left:80px;
	margin-top:3px;
	background-color:#f7fbff;
	border-bottom:#abcdef ridge 1px;
}
.tc-help-container {
	margin-top:95px;
}
.tc-help-header {
	background-image:url('../img/circuit.png');
	-webkit-background-size: cover; /*for webKit*/
	-moz-background-size: cover; /*Mozilla*/
	-o-background-size: cover; /*opera*/
	background-size: cover; /*generic*/
	height: 120px;
	padding:20px 20px 20px 20px;
	
}
#help-sidebar {
	border: #DDDDDD ridge 2px;
}
#help-sidebar li{
	border-bottom: #DDDDDD solid 1px;
}
.affix { 
	top: 100px;
	min-width:240px;
}
section {
	margin-bottom:50px;
	padding-bottom:15px;
	border-bottom: #abcdef ridge 3px;
}
.definition {
	padding:10px;
	background-color:#E9EFF8;
	border:#DDDDDD solid 1px;
}
.diagram {
	border: #DDDDDD solid 1px;
	padding:10px;
	margin: 15px 0 15px 0;
}
.diagram .title {
	height:30px;
	border-bottom: #006699 solid 1px;
	text-align: center;
	background-color: #F5F5F5;
}
.diagram .caption {
	height:50px;
	border-top: #006699 solid 1px;
	text-align: center;
	background-color: #F0F0F0;
}