/* 
    Document   : tre_emp
    Created on : Jun 27, 2013
    Author     : Tremayne
    Description:
        Purpose of the stylesheet is for temporary css that may or mayn't 
						be merged into the chelop.css'.
*/

.logout { 
	margin-top:8px;
}

