/* 
    Document   : tre_emp
    Created on : Jun 27, 2013
    Author     : Tremayne
    Description:
        Purpose of the stylesheet is for temporary css that may or mayn't 
						be merged into the chelop.css'.
*/

.logout,
.close-study{ 
	margin-top:8px;
}
.tc-hide {
	visibility:hidden;
}
.observer-pending-border {
	border: 2px solid #FFCC66;
}
.observer-pending-bottom {
	background:#FFFF99;
}
.observer-pending-status-name{
	background-color: #FFCC66;
	color:#000;
}

