/* 
    Document   : tre_emp
    Created on : Jun 27, 2013
    Author     : Tremayne
    Description:
        Purpose of the stylesheet is for temporary css that may or mayn't 
						be merged into the chelop.css'.
*/

.logout,
.close-study{
	margin:6px 10px 6px 0px;
}
.tc-hide {
	display: none!important;
}
.observer-pending-border {
	border: 2px solid #FFCC66;
}
.observer-pending-bottom {
	background:#FFFF99;
}
.observer-pending-status-name{
	background-color: #FFCC66;
	color:#000;
}
#observation-log{
	width: 300px;
	height: 400px;
	z-index: 9999 !important;
	position: absolute;
	top: 33px;
	right: 0px;
	display: none;
}
#all-recorded-notes{
	height: 310px;
	overflow-y: auto;
}
#note-type{
	font-size: 12px;
	margin: 0px;
	padding-left: 5px;
	height: 12px;
}

ul.magellan {width: 240px}
@media only screen and (max-width: 767px) {
  ul.magellan {position: static !important; width: 100%}
}